{% include html-start.html %}

	{% include header-masthead.html %}


    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">

          <p>{{ content }}</p>
        </section>

        <aside id="sidebar">
<!--          <a href="" class="button">
            <small>Download book as</small>
            PDF
          </a> -->

        <p>이 책은 자유 문화이이며, <a href="//github.com/fontforge/designwithfontforge.com/" target="_blank">GitHub에서 운영되고 있습니다.</a>. 코드 수정, 제안이나 오류 정정은 환영합니다.</p>
        <p><a class"" href="https://github.com/fontforge/designwithfontforge.com/commits/gh-pages">최근 수정사항을 리뷰해주세요.</a></p>
        <p><a class="editthispage" href="https://github.com/fontforge/designwithfontforge.com/blob/gh-pages{{ page.url | replace: '.html', '.md' }}" target="_blank">현재 페이지를 수정</a> (<a href="https://github.com/fontforge/designwithfontforge.com">수정 방법 배우기</a>)</p>
        </p>
        </aside>

      </div>
    </div>

{% include footer_ko-KR.html %}

{% include html-end.html %}
